.Github-embed {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--control-bg);
  border-radius: var(--border-radius);
  padding: 2px 6px;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--control-bg);
  font-size: 0.9em;
  margin: 0 2px;

  i.fab.fa-github {
      margin-right: 4px;
  }

  // Add general styling for FontAwesome icons used in the links
  i.fas {
      margin: 0 3px; // Spacing around the icons
      font-size: 0.85em; // Slightly reduce the size for better visual alignment
  }

  i.fas.fa-code-branch,
  i.fas.fa-exclamation-circle,
  i.fas.fa-comment,
  i.fas.fa-hashtag {
      margin-right: 2px; // Adjust spacing between the repo name and the icons
  }

  &:hover {
      background-color: color-mix(in srgb, var(--control-bg), black 5%);
  }

  &:active {
      background-color: color-mix(in srgb, var(--control-bg), black 10%);
  }
}

.github-commit-link, .github-issue-link, .github-pr-link {
  code {
      background-color: var(--code-bg);
      color: var(--code-color);
      padding: 2px 4px; // Add a little padding for visual balance
      border-radius: var(--border-radius);
      font-size: 0.9em;
  }
}

.github-repo-link {
    &--path {
        font-weight: 400;
        padding-left: 4px;
    }
}
